# Source (ist-shared — dev/test)
SOURCE_URI=mongodb+srv://<user>:<password>@ist-shared.xxxxx.mongodb.net
SOURCE_DB=smart_meters

# Target (ist-prod)
TARGET_URI=mongodb+srv://<user>:<password>@ist-prod.xxxxx.mongodb.net
TARGET_DB=smart_meters
